*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}
.container{
    max-width: 1900px;
    margin: 0 auto;
    padding: 100px;
    background-color: aqua;
    text-decoration: none;
    text-align: center;
    display: flow-root;
    justify-content: center;
    
}

.ZZZ{
    display: flex;
    justify-content: center;
    margin-bottom: 500px;
    padding-left: 30px;
}

.zzz{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aqua;
}

.left_wraper{
   padding-right: 100px;
}



.home{
    margin: 0 auto;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
}
.text_left{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 20px;
}
.email{
    margin: 10px 0;
}
.email input{
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}
.pasword{
    margin: 10px 0;
}
.pasword input{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}
.masuk{
   width: 100%;
   margin: 10px 0;
   padding: 7px;
   background-color: darkgrey;
   border: none;
   border-radius: 10px;
   color: white;
}
.masuk a{
    color: white;
}
.text2_left{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.bottom{
    border-left: none;
    border-right: none;
    border-bottom: none;
    text-align: center;
}

.google{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    border-radius: 10px;
    margin: 20px 0;
    width: 100%;
}
.facebook{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    border-radius: 10px;
    margin: 20px 0;
    width: 100%;
}
a{
    text-decoration: none;
    color: aqua;
}